@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root{
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #ffffff;
    height: 100vh;
    color: #000;
}
.spacer {
    height: 80px; /* Altura do espaçamento entre seções */
}


/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni is ease forwards;
}

.logo a {
    color: #000;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

/* Nav End */

/* Section 1 */

.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

.main h3 {
    color: #000;
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.main h1 {
    color: #000;
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}


.images {
    border-radius: 10px;
    width: 450px;
    /* opacity: 0; */
    /* animation: imageAni 1s ease forwards; */
    /* animation-delay: 1.5s */
}
.images {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-top: 2px solid var(--primary-color);
}

/* Section 1 End */


.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

.dark-mode .logo a, 
.dark-mode ul li a, 
.dark-mode .main h3, 
.dark-mode .main h1 {
    color: #fff;
}
.dark-mode ul li a.active, .dark-mode ul li a:hover {
    color: var(--primary-color);
}
.dark-mode .images {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    border-top: 2px solid var(--primary-color);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: auto;
    overflow: hidden;
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}

.Sobremim {
    width: 80%; /* largura do contêiner */
    margin: 1 auto; /* centralizar o contêiner horizontalmente */
    padding: 20px; /* espaçamento interno do contêiner */
    border: 0px solid #ccc; /* borda para visualização do contêiner */
    text-align: right;
}

.Sobremim p {
    margin-right: 64%;
    text-align: right;
     /* alinhar o texto justificado */
}

.Sobremim h3 {
    text-align: center; /* centralizar o título h3 */
}


.technologies {
    margin-top: 40px;
    text-align: center;
}

.technologies h2 {
    color: #f9532d;
}

.technology-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.technology-item {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.technology-item:hover {
    transform: scale(1.05);
}

.technology-item img {
    max-width: 100%;
    height: auto;
    border-radius: 60%;
}

.technology-item p {
    margin-top: 10px;
    color: #555;
}
/* ... (estilos existentes) ... */

.technology-item img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.technology-item p {
    margin-top: 10px;
    color: #555;
}



/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* @keyframes ImgAni {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-9px);
    }
    100% {
        transform: translateX(0);
    }
} */
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }

    .main h3 {
        color: #000;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {
    body {
        height: auto;
    }

    header {
        height: auto;
    }

    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }
    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
}
#content-body {
  display: flex;
  background-color: #2d2e32;
  align-items: flex-start;
  height: 90vh;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0 0 100px;
  margin-bottom: 10vh;
  max-height: 100vh;
}

.developer-intro {
  display: flex;
  align-items: center;
}

.developer-intro p {
  padding: 5px 10px;
  margin: 0 20px 0 0;
  background-color: #64f4ac;
  color: #2d2e32;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2.5px;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.developer-intro p:hover {
  font-weight: 900;
}

.body-title h1 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1.5px;
  padding: 35px 0 0 0;
}

.body-title p {
  font-size: 12px;
  padding: 20px 0;
  color: #cacaca;
  font-weight: 500;
  line-height: 25px;
}

.body-title a {
  font-size: 16px;
  color: #64f4ac;
  font-weight: 600;
  padding: 20px 0;
  margin: 20px 0;
}

.body-tail {
  display: flex;
  align-items: start;
  padding: 100px 0 0 0;
}

.body-tail p {
  color: #cacaca;
  font-size: 16px;
  font-weight: 500;
  padding: 0 40px 0 5px;
}

.body-part-2 {
  position: relative;
}
.frontend-work,
.backend-work {
    margin-top: 40px;
    text-align: center;
}

.frontend-work h2,
.backend-work h2 {
    color: #f9532d;
}

.work-container {
    display: flex;
    justify-content: space-around; /* Alinha os itens com espaçamento uniforme */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte, se necessário */
}

.work-item {
    flex: 1;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.work-item:hover {
    transform: scale(1.05); /* Efeito de escala ao passar o mouse sobre um item */
}

.work-item img {
    max-width: 100%;
    border-radius: 4px;
}

.work-item h3 {
    margin-top: 10px;
}

.work-item p {
    margin-top: 10px;
    color: #555;
}

.inbox {
    margin-top: 40px;
    text-align: center; /* Centraliza o conteúdo no meio da página */
}

.inbox form {
    max-width: 400px; /* Defina a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário dentro da seção Inbox */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.inbox form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.inbox form input,
.inbox form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.inbox form button {
    background-color: #f9532d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
footer {
    background-color: #f2f2f2;
    padding: 10px; /* Reduzindo o padding para diminuir a largura */
    text-align: center;
    font-size: 14px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links li a {
    color: #333;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}
